@font-face {
  src: url(나눔고딕.ttf);
}
html {
  font-family: "나눔고딕", sans-serif;
}
body {
  background: rgba(0, 0, 0, .9);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: white;
  margin-top: 100px;
  pointer-events: none;
}
h1#title, h3#subTitle, ul li#quizStart, ul li#instruction, div#how{
  display: none;
}
ul#firstChoice {
  font-size: 20px;
  text-align: center;
  color: white;
  margin-top: 200px;
}
ul li#quizStart, ul li#instruction, div#how ol li {
  padding: 10px;
  margin: 10px;
  cursor: grabbing;
}
li:hover {
  background: rgba(255, 255, 255, .2);
}
li:active {
  background: rgba(255, 255, 255, .4);
}
h1#title {
  font-size: 80px;
  text-align: center;
  margin-top: 80px;
  pointer-events: none;
}
h3#subTitle {
  font-size: 40px;
  text-align: center;
  color: white;
  pointer-events: none;
}
div#how ol li {
  font-size: 20px;
  color: white;
  text-align: center;
  pointer-events: none;
}
#fieldArea {
  display: none;
  margin: 10px;
  padding: 10px;
  color: white;
}
#question, #exampleCell {
  display:none;
  margin:10px;
  padding:10px;
  color:white;
  font-size:25px;
}
#question {
  letter-spacing: 5px;
}
.empty {
  display:none;
}
#answerList, #answerList2, #answerList3, #answerList4, #answerList5 {
  width:300px;
  margin:0;
}
#correct {
  display:none;
  margin:10px;
  padding:10px;
  color:white;
  font-size:25px;
  text-align:center;
}
#wrong {
  display:none;
  margin:10px;
  padding:10px;
  color:white;
  font-size:16px;
  margin-left:850px;
}
#fix {
  width:300px;
}
#playList {
  text-align: center;
}
#playList div{
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  display: none;
  cursor: grabbing;
  width: 180px;
  padding: 10px;
  margin: 5px;
}
#playList div:hover{
  background: rgba(255, 255, 255, 0.5);
}
#playList div:active{
  background: rgba(255, 255, 255, 0.2);
}
#grid {
  text-align: center;
}
#grid #consequence, #grid #youtubeButt, #grid #answer, #grid #showObj, #grid #showSubj, #grid #showOx{
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  display: none;
  cursor: grabbing;
  width: 180px;
  padding: 10px;
  margin: 5px;
}
#grid #next{
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
  border-radius: 10px;
  font-size: 20px;
  text-align: center;
  display: none;
  cursor: grabbing;
  width: 400px;
  padding: 10px;
  margin: 5px;
}
#grid #consequence:hover, #grid #youtubeButt:hover, #grid #answer:hover, #grid #showObj:hover, #grid #showSubj:hover, #grid #showOx:hover, #grid #next:hover{
  background: rgba(255, 255, 255, 0.5);
}
#grid #consequence:active, #grid #youtubeButt:active, #grid #answer:active, #grid #showObj:active, #grid #showSubj:active, #grid #showOx:active, #grid #next:active{
  background: rgba(255, 255, 255, 0.2);
}
#subjective {
  display: none;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 30px;
  width: auto;
  height: 60px;
}
#subjAlign {
 text-align: center;
 width: auto;
}
#answerChoice {
  text-align: center;
}
#answerChoice div{
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-align: center;
  display: none;
  cursor: grabbing;
  width: auto;
  padding: 10px;
  margin: 5px;
}
#answerChoice div:hover {
  background: rgba(255, 255, 255, 0.5);
}
#answerChoice div:active {
  background: rgba(255, 255, 255, 0.2);
}
#oxChoice {
  text-align: center;
}
#oxChoice div {
  background: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
  font-size: 20px;
  text-align: center;
  display: none;
  cursor: grabbing;
  width: auto;
  padding: 10px;
  margin: 5px;
}
#oxChoice div:hover {
  background: rgba(255, 255, 255, 0.5);
}
#oxChoice div:active {
  background: rgba(255, 255, 255, 0.2);
}
#message {
  position: relative;
  display: none;
  font-size: 100px;
  text-align: center;
  color: white;
}
#storageFrame {
  display:none;
  color:white;
  text-align:right;
  margin:10px;
}
#showObj span, #showSubj span, #showOx span {
  position:relative;
  font-size:12px;
}
#answers {
  display: none;
  color:white;
  font-size:30px;
  text-align:center;
  padding:10px;
  margin:10px;
}
#scoreA, #scoreB, #sum, #complete {
  display: none;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 10px;
  margin: 10px;
}
#firstListen, #secondListen, #thirdListen {
  display:none;
}
#audioGroup {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
#imageBox {
  text-align: center;
}
#showAnswer {
  font-size:30px;
  color:white;
}
#iframeBox {
  position: relative;
  display:grid;
  grid-template-columns:1fr 1fr;
  width: auto;
  height: auto;
}
#youtube, #secYoutube {
  width: 925px;
  height:525px;
}
#image {
  display: none;
}
@media(max-width:1280px){
  h1 {
    font-size: 25px;
    margin-top: 50px;
  }
  h2#fieldArea {
    font-size: 12px;
  }
  ul#firstChoice {
    font-size: 10px;
    margin-top: 100px;
  }
  ul li#quizStart, ul li#instruction, div#how ol li {
    padding: 5px;
    margin: 5px;
  }
  h1#title {
    font-size: 40px;
    margin-top: 40px;
  }
  h3#subTitle {
    font-size: 20px;
  }
  div#how ol li {
    font-size: 10px;
  }
  #fieldArea {
    margin: 5px;
    padding: 5px;
  }
  #question, #exampleCell {
    margin:5px;
    padding:5px;
    font-size:12px;
  }
  #question {
    letter-spacing: 2.5px;
  }
  #answerList, #answerList2, #answerList3, #answerList4, #answerList5 {
    width:150px;
  }
  #correct {
    margin:5px;
    padding:5px;
    font-size:12px;
  }
  #wrong {
    margin:5px;
    padding:5px;
    font-size:8px;
    margin-left:425px;
  }
  #fix {
    width:150px;
  }
  #playList div{
    border-radius: 5px;
    font-size: 10px;
    width: 90px;
    padding: 5px;
    margin: 2.5px;
  }
  #grid #consequence, #grid #youtubeButt, #grid #answer, #grid #showObj, #grid #showSubj, #grid #showOx{
    border-radius: 5px;
    font-size: 10px;
    width: 90px;
    padding: 5px;
    margin: 2.5px;
  }
  #grid #next{
    border-radius: 5px;
    font-size: 10px;
    width: 200px;
    padding: 5px;
    margin: 2.5px;
  }
  #subjective {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 15px;
    width: auto;
    height: 30px;
  }
  #answerChoice div{
    font-size: 10px;
    width: auto;
    padding: 5px;
    margin: 2.5px;
  }
  #oxChoice div {
    font-size: 10px;
    width: auto;
    padding: 5px;
    margin: 2.5px;
  }
  #message {
    font-size: 50px;
  }
  #storageFrame {
    font-size: 12px;
    margin:5px;
  }
  #showObj span, #showSubj span, #showOx span {
    font-size:6px;
  }
  #answers {
    font-size:15px;
    padding:5px;
    margin:5px;
  }
  #scoreA, #scoreB, #sum, #complete {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
  }
  audio {
    width: 200px;
    height: 27px;
  }
  #showAnswer {
    font-size:15px;
  }
  #youtube, #secYoutube {
    width: 462px;
    height:262px;
  }
  #image {
    width: 50%;
    height: 50%;
  }
}
